<nav class="navbar navbar-expand-lg bg-light" style="overflow-x:auto ;width: 100rem;">
    <div class="container-fluid">
      
        <tr class="nav-item" *ngFor='let chan of getChannels()'> 
         
         <button type="button"   class="btn btn-light "  (click)="setChannelName(chan)">{{chan}}</button>
           
          </tr>
         

            <div class="col-sm-5"  >
              
              <input #channel placeholder="create a channel" class="form-control col-sm-4 "  />
            </div>
            <br>
            <button  type="button" class="btn btn-primary col-sm-1"  *ngIf="userName" (click)="createChannel(channel.value)">create Channel</button>
         
        
        
      </div>
    </nav>
    