<!-- <input type="text" #random class="form-control" placeholder="username" *ngIf="!userName" >
<button type="submit" class="btn btn-primary" *ngIf="!userName" (click)="login(#random.value)" >Join</button> -->

    <div *ngIf="!userName">
        
        <div class="col-sm-5" >

            <input #phone placeholder="user name" class="form-control "  />
        </div>
        <br>
        <!-- lots of other elements -->
        
        <!-- phone refers to the input element; pass its `value` to an event handler -->
        <button type="button" class="btn btn-primary "  (click)="login(phone.value)">Join</button>
    </div>
    
    <div class="row">
<div class="col-sm-5">

    
    </div>


<!-- <div class="col-sm-5"> -->


 
      
         
       


<span *ngIf="userName" >
        <i>{{userName}}</i>
    <input #msg placeholder="enter a messege" class="form-control"   />
    <br>
    <!-- lots of other elements -->
    
    <!-- phone refers to the input element; pass its `value` to an event handler -->
    <button type="button" class="btn btn-success"  (click)="addMessege(msg.value)" *ngIf="isSubscribed()">send</button>
    <button type="button" class="btn btn-success"  (click)="subscribe()" *ngIf="!isSubscribed()">subscibe</button>
</span>


<!-- </div> -->
</div>

