<div class="container-fluid">

  <div *ngIf="!user">
    <div class="col-sm-2" >
      
      <input #phone placeholder="user name" class="form-control "  />
  </div>
  <br>
  <!-- lots of other elements -->
  
  <!-- phone refers to the input element; pass its `value` to an event handler -->
  <button type="button" class="btn btn-primary "  (click)="login(phone.value)">Join</button>
  <!-- <button type="button" class="btn btn-primary "  *ngIf="user">Logout</button> -->




</div>
<div *ngIf="user">
  <i>
 
Current Members:
</i>

<p>
<tr *ngFor="let user of getUsersByChannelName()">
  
    @{{user}}
  </tr>
</p>
</div>

</div>



<!-- CREATE CHANNEL HTML -->
<!-- <div class="col-sm-5" >
  
    <input #channel placeholder="create a channel" class="form-control "  />
  </div>
  <br>

  <button type="button" class="btn btn-primary "  (click)="createChannel(channel.value)">create Channel</button>

    <app-chat [userName]="user"></app-chat>
    <hr> -->

  
 